<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    名前：<span th:text="${name}">ダミー</span><br>
    <h2 th:text="#{message}">dummy</h2>
    <form th:object="${car}">
    <span th:text="#{message.name}"></span><input type="text" th:field="*{name}"><br>
    車のスピード：<input type="text" th:field="*{speed}"><br>
    車のガソリン：<span th:text="*{gas}"> ダミー</span><br>
    <button th:text="#{message.buttonName}">ボタン名</button>
    </form>
</body>
</html>